services:
  api:
    build: ./backend
    container_name: api
    ports:
      - "4000:4000"
    depends_on:
      - postgres
      - mongo
    environment:
      - POSTGRES_HOST=postgres
      - MONGO_HOST=mongo
    volumes:
      - ./backend:/usr/src/app
    command: npm run dev

  web:
    build: ./frontend
    container_name: web
    ports:
      - "3000:3000"
    depends_on:
      - api
    volumes:
      - ./frontend:/usr/src/app
    command: npm run dev

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root123
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root123
      ME_CONFIG_BASICAUTH_USERNAME: root
      ME_CONFIG_BASICAUTH_PASSWORD: root123
    ports:
      - "8081:8081"
    depends_on:
      - mongo

volumes:
  pgdata:
  mongodata:
