services:
  # API BACKEND (NestJS)
  api:
    build: ./backend
    container_name: api
    ports:
      - "4000:4000"
    depends_on:
      - postgres
      - mongo
    env_file:
      - .env
    environment:
      # Variables pasadas a NestJS
      - NODE_ENV=development
      - PORT=4000
      - POSTGRES_HOST=${POSTGRES_HOST}
      - MONGO_HOST=${MONGO_HOST}
      # UID/GID del usuario local, para evitar archivos root
      # - USER_ID=${USER_ID}
      # - GROUP_ID=${GROUP_ID}
    # Ejecuta el contenedor con el mismo UID/GID del usuario local
    # ⚠️ Quito temporalmente el user UID/GID para evitar errores de permisos
    # user: "${USER_ID}:${GROUP_ID}"
    # Sincroniza el código del host con el contenedor
    volumes:
      # Monta el código fuente, pero excluye dist y node_modules
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    # Comando de desarrollo (watch mode)
    command: npm run start:dev

  # FRONTEND (Vite + React)
  web:
    build: ./frontend
    container_name: web
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    depends_on:
      - api
    env_file:
      - .env
    volumes:
      - ./frontend:/usr/src/app
    command: npm run dev

  # PostgreSQL Database
  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # pgAdmin (GUI para PostgreSQL)
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - postgres

  # MongoDB
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongodata:/data/db

  # Mongo Express (GUI para MongoDB)
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    env_file:
      - .env
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "${ME_CONFIG_SITE_PORT}:8081"
    depends_on:
      - mongo

# Volúmenes persistentes
volumes:
  pgdata:
  mongodata:
